/* main less file without prefixes */

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}
html,
body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-family: Arial;
}
button {
  border: none;
  background: none;
  outline: none;
}

/******** header begin ****************/
#task-container {
  position: fixed;
  width: 100vw;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.05);
  z-index: 9;
}
#task-wrapper {
  display: flex;
  height: 6.5vh
}
.task-area-left,
.task-area-center,
.task-area-right {
  display: flex;
  align-items: center;
  flex: 1;
}
.task-area-left {
  justify-content: flex-start;
}
#task-profile-img {
  height: 5vh;
  padding: 0 4vw;
  border-radius: 100%;
}
.angle-mode {
  display: flex;
  align-items: center;
  font-family: Arial;
  font-size: 3.8vw;
  color: #3ac1a6;
  padding: 0 2vw;
  text-decoration: none;
}
.task-area-center {
  justify-content: center;
   a {
    padding: 0 3px;
  }
}
.left-arrow-btn {
  background: url(../assets/images/left-gray.svg) no-repeat;
  background-size: contain;
  width: 10vw;
  height: 5.5vh;
  padding-right: 6px;

  &:hover,
  &:active {
    background-image: url('../assets/images/left-teal.svg');
    background-size: contain;
  }
}
.right-arrow-btn {
  background: url('../assets/images/right-gray.svg') no-repeat;
  background-size: contain;
  width: 10vw;
  height: 5.5vh;
  padding-left: 6px;

  &:hover,
  &:active {
    background-image: url('../assets/images/right-teal.svg');
    background-size: contain;
  }
}
.task-area-right {
  justify-content: flex-end;
}
.search-btn,
.calculator-btn {
  height: 2.5vh;
}
.search-btn {
  padding: 0 2vw;
}
.calculator-btn {
  padding: 0 4vw;
}
/********* header end **********************/

/********* calculator screen begin *********/
#calc-screen-container {
  height: 100vh;
}
#top-screen-wrap {
  height: 22vh;
  margin-top: 6.5vh;
  border-bottom: 2px solid #3ac1a6;
  background-color: #EEE;
  overflow: scroll;
}
#calc-screen-top {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-end;
  align-content: flex-end;
  height: 100%;
  min-height: min-content;

  div {
    display: flex;
    align-items: center;
    width: 50vw;
    padding: 2.5vw 4vw;
    border-top: 1px solid #ccc;
    letter-spacing: 3px;
    word-break: break-word;
  }

  div:nth-child(even) {
    justify-content: flex-end;
  }
}
#calc-screen-bottom {
  height: 12vh;
}
#calc-btm-wrapper {
  height: 100%;
  width: 100vw;
  display: flex;
  background: #EEE;
}
#calc-screen-input {
  width: 80%;
  height: 100%;
  padding: 0 2vw;
  border: none;
  outline: none;
  background: #EEE;
  font-size: 4vw;
  letter-spacing: 3px;
}
::-webkit-input-placeholder {
  white-space:pre-line;  
  position:relative;
  top:-7px;
}
#btm-screen-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 20%;
  padding-right: 4vw;
}
#backspace-btn {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  img {
    width: 50%;
  }
}

#calc-mini-field {
  display: flex;
  align-items: center;
  border-radius: 5px;
  border: 2px solid rgba(0,0,0,0.3);
  background: #EEE;
  outline: none;
  min-width: 15vw;
  font-size: 0.6em;
  height: 3vh;

  span {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 25%;
    background: rgba(0,0,0,0.3);
    color: #fff;
    font-size: 4vw;
  }
}

/********* calculator screen end **********/

/********* calculator menu begin *********/
#calc-menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 12vh;
  border-bottom: 1px solid #EEE;
}
.calc-menu-btn {
  background: #EEE;
  border-radius: 100%;
  width: 8vh;
  height: 8vh;
}
.active {
  color: #3ac1a6;
}
#calc-menu-pad {
  display: flex;
  align-items: center;
}
#menu-pad {
  background: url("../assets/images/dpad.png") no-repeat;
  background-size: contain;
  height: 9vh;
  width: 9vh;
}
/********* calculator menu end *********/

/********* calculator buttons begin *******/
#calculator-button-container,
#trig-button-container,
#alg-button-container,
#stat-button-container,
#clcs-button-container {
  height: 47.5vh;
}
.calculator-buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 100%;
}
.calc-button {
  border-bottom: 1px solid #EEE;
  border-right: 1px solid #EEE;
  font-size: 4vw;
  cursor: pointer;

  img {
    width: 6vw;
  }
}
button {
  &.teal {
    color: #3ac1a6;
  }
  &.enter-btn {
    background: #3ac1a6;
  }
}
div.content {
  display: none;
}
.main-btns {
  display:none;
}
.btn-divider {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.5vh;
  background: #EEE;
  text-align: center;
  font-size: 1.5vh;
}
.calc-btn-row {
  height: 28%;
}
.trig-buttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 100%;
}
.alg-buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 100%;
}
.clcs-buttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 100%;
}
button.calc-button.larger {
  font-size: 125%;
}
.hide {
  display: none;
}
/********* calculator buttons end *******/

