*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-family: Arial;
}

html,
body {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

button {
  border: none;
  background: none;
  outline: none;
}

/******** header begin ****************/
#task-container {
  position: fixed;
  width: 100vw;
  -webkit-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.05);
  z-index: 9;
}
#task-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 6.5vh
}
.task-area-left,
.task-area-center,
.task-area-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.task-area-left {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
#task-profile-img {
  height: 5vh;
  padding: 0 4vw;
  border-radius: 100%;
}
.angle-mode {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Arial;
  font-size: 3.8vw;
  color: #3ac1a6;
  padding: 0 2vw;
  text-decoration: none;
}
.task-area-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.task-area-center a {
  padding: 0 3px;
}
.left-arrow-btn {
  background: url(../assets/images/left-gray.svg) no-repeat;
  background-size: contain;
  width: 10vw;
  height: 5.5vh;
  padding-right: 6px;
}
.left-arrow-btn:hover,
.left-arrow-btn:active {
  background-image: url('../assets/images/left-teal.svg');
  background-size: contain;
}
.right-arrow-btn {
  background: url('../assets/images/right-gray.svg') no-repeat;
  background-size: contain;
  width: 10vw;
  height: 5.5vh;
  padding-left: 6px;
}
.right-arrow-btn:hover,
.right-arrow-btn:active {
  background-image: url('../assets/images/right-teal.svg');
  background-size: contain;
}
.task-area-right {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.search-btn,
.calculator-btn {
  height: 2.5vh;
}
.search-btn {
  padding: 0 2vw;
}
.calculator-btn {
  padding: 0 4vw;
}
/********* header end **********************/

/********* calculator screen begin *********/
#calc-screen-container {
  /* height: 100vh; */
}
#calc-screen-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  overflow: scroll;
  height: 22vh;
  margin-top: 6.5vh;
  background-color: #EEE;
  border-bottom: 2px solid #3ac1a6;
}
#calc-screen-top div {
  border-bottom: 1px solid #ccc;
  padding: 1vh;
}
#calc-screen-bottom {
  height: 12vh;
}
#calc-btm-wrapper {
  height: 100%;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #EEE;
}
#calc-screen-input {
  width: 80%;
  height: 100%;
  padding: 0 2vw;
  border: none;
  outline: none;
  background: #EEE;
  font-size: 4vw;
}
::-webkit-input-placeholder { /* hack for chrome, probably should use textarea */
  white-space:pre-line;  
  position:relative;
  top:-7px;
}
#btm-screen-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 20%;
  padding-right: 4vw;
}
#backspace-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#backspace-btn img {
  width: 50%;
}
#calc-mini-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  border: 1px solid #555;
  background: #EEE;
  outline: none;
  min-width: 3em;
  max-width: 9.5em;
  font-size: 0.6em;
  height: 1.5em;
}
#calc-mini-field span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 25%;
  background: rgba(0,0,0,0.3);
  color: #fff;
  font-size: 4vw;
}
/********* calculator screen end **********/

/********* calculator menu begin *********/
#calc-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 12vh;
  border-bottom: 1px solid #EEE;
}
.calc-menu-btn {
  background: #EEE;
  border-radius: 100%;
  width: 8vh;
  height: 8vh;
}
.active {
  color: #3ac1a6;
}
#calc-menu-pad {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#menu-pad {
  background: url("../assets/images/dpad.png") no-repeat;
  background-size: contain;
  height: 9vh;
  width: 9vh;
}
.calc-button img {
  width: 6vw;
}
#calc-mini-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  border: 2px solid rgba(0,0,0,0.3);
  background: #EEE;
  min-width: 15vw;
  font-size: 0.6em;
  height: 3vh;
}
/********* calculator menu end *********/

/********* calculator buttons begin *******/
#calculator-button-container,
#trig-button-container,
#alg-button-container,
#stat-button-container,
#clcs-button-container {
  height: 47.5vh;
}
.calculator-buttons {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  height: 100%;
}
.calc-button {
  border-bottom: 1px solid #EEE;
  border-right: 1px solid #EEE;
  font-size: 4vw;
  cursor: pointer;
}
button.teal {
color: #3ac1a6;
}
button.enter-btn {
  background: #3ac1a6;
}
div.content {
  display: none;
}
.main-btns {
  display:none;
}
.btn-divider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 2.5vh;
  background: #EEE;
  text-align: center;
  font-size: 1.5vh;
}
.calc-btn-row {
  height: 28%;
}
.trig-buttons {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  height: 100%;
}
.alg-buttons {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  height: 100%;
}
.calc-button.end-space {
  border-bottom: 1px solid #EEE;
}
.clcs-buttons {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  height: 100%;
}
button.calc-button.larger {
  font-size: 125%;
}
.hide {
  display: none;
}
/********* calculator buttons end *******/
